/* ===== ESTILOS GENERALES ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#FCE4EC;
    color:#333;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    height: 60px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.logo img{
    width:90px;
}

nav{
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: .3s;
}

nav a:hover{
    color: #F472B6;
}

.acciones{
    display: flex;
    align-items: center;
    gap: 20px;
}

.buscar{
    font-size: 22px;
    cursor: pointer;
}

.carrito-icono{
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

/* ===== HERO ===== */
.hero{
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
    url("/L-L-Boutique-/img/banner.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-contenido h1{
    font-size:3rem;
    font-family:'Playfair Display', serif;
    margin-bottom:15px;
}

.hero-contenido p{
    font-size:1.2rem;
    margin-bottom:25px;
}

.btn-principal{
    display:inline-block;
    padding:14px 35px;
    background:#F472B6;
    color:white;
    border-radius:40px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.btn-principal:hover{
    background:#EC4899;
    transform:scale(1.05);
}

/* ===== CAMPAÑA ===== */

.campania{
    padding:60px 20px;
    text-align:center;
}

.campania h2{
    color:#C2185B;
    font-size:36px;
    margin-bottom:30px;
    font-family:'Playfair Display', serif;
}

.card-campania{
    background:white;
    max-width:500px;
    margin:auto;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.card-campania h3{
    color:#E91E63;
    margin-bottom:15px;
}

.card-campania p{
    margin:10px 0;
    font-size:17px;
}

.card-campania button{
    margin-top:20px;
    background:#E91E63;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:50px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.card-campania button:hover{
    background:#C2185B;
}

/* ===== PRODUCTOS ===== */

.producto{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:all .3s ease;
    text-align:center;
    padding-bottom:20px;
}

.producto:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 35px rgba(0,0,0,.15);
}

.producto img{
    width:100%;
    aspect-ratio:4/5;
    object-fit:cover;
    transition:transform .4s ease;
}

.producto:hover img{
    transform:scale(1.08);
}

.producto h3{
    padding:18px 15px 10px;
    font-size:18px;
    color:#333;
}

.precio{
    font-size:24px;
    font-weight:700;
    color:#F20A67;
    margin-bottom:15px;
}

/* ===== BUSCADOR ===== */

.buscador{

    display:flex;

    justify-content:center;

    padding:30px;

}

.buscador input{

    width:90%;

    max-width:500px;

    padding:15px;

    border:none;

    border-radius:50px;

    outline:none;

    font-size:16px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.categorias{
    padding:60px 20px;
    text-align:center;
}

.categorias h2{
    font-family:'Playfair Display', serif;
    color:#C2185B;
    margin-bottom:30px;
    font-size:32px;
}

.lista-categorias{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.lista-categorias button{
    background:white;
    border:none;
    border-radius:50px;
    padding:15px 25px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.lista-categorias button:hover{
    background:#F472B6;
    color:white;
    transform:translateY(-3px);
}
/* ===== CARRITO ===== */

.carrito{

position:fixed;

top:0;

right:-320px;

width:300px;
max-width:85%;

height:100vh;

background:white;

    display:flex;
flex-direction:column;

box-shadow:-5px 0 20px rgba(0,0,0,.2);

transition:.4s;

z-index:999;
    
}

.carrito.abierto{

right:0;

}

.carrito-header{

display:flex;

justify-content:space-between;

padding:10px;

border-bottom:1px solid #ddd;

}

.carrito-footer{

margin-top:auto;

padding:20px;

border-top:1px solid #ddd;

}

.carrito-icono{

cursor:pointer;

font-size:24px;

position:relative;

}

#contador-carrito{

position:absolute;

top:-10px;

right:-12px;

background:#E91E63;

color:white;

width:22px;

height:22px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:12px;

}

/* CELULAR */
@media (max-width: 768px) {

header{
    height:55px;
    padding:8px 12px;
}

.logo img{
    width:75px;
}

.menu-btn{
    font-size:24px;
}

.buscar{
    font-size:18px;
}

.carrito-icono{
    font-size:24px;
}

#contador-carrito {
    position: absolute;
    top: -5px;
    right: -5px;
    background: white;
    color: #F20A67;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}

}

@media(max-width:768px){

.productos{
grid-template-columns: repeat(2,1fr);
gap:15px;
}

.producto img{
width:100%;
}

.producto h3{
font-size:16px;
}

.producto button{
width:100%;
}

}

select,
button,
input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    color: black;
    background: white;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin: 10px 0;
}

.btn-producto{
    display:inline-block;
    width:85%;
    padding:14px;
    border-radius:40px;
    background:#F20A67;
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.btn-producto:hover{
    background:#EC4899;
    transform:scale(1.03);
}

.colores-producto{
    display:flex;
    justify-content:center;
    gap:10px;
    margin:15px 0;
}

.color-producto{
    width:18px;
    height:18px;
    border-radius:50%;
    border:1px solid #ddd;
    display:inline-block;
}

.etiqueta-producto{
    position:absolute;
    margin:15px;
    background:#F20A67;
    color:white;
    padding:8px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:bold;
    z-index:2;
}

.producto{
    position:relative;
}

.menu-btn{
    display:none;
    font-size:30px;
    cursor:pointer;
}

@media (max-width:768px){

    .menu-btn{
        display:block;
    }

    nav{
        display:none;
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:white;
        flex-direction:column;
        padding:20px;
        box-shadow:0 5px 15px rgba(0,0,0,.1);
    }

    nav.abierto{
        display:flex;
    }

}
.menu-btn{
    display:none;
    font-size:30px;
    cursor:pointer;
}

@media (max-width:768px){

    .menu-btn{
        display:block;
    }

    nav{
        display:none;
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:white;
        flex-direction:column;
        padding:20px;
        box-shadow:0 5px 15px rgba(0,0,0,.1);
    }

    nav.abierto{
        display:flex;
    }

}

/* ===== DESTACADOS ===== */

.destacados{
    padding:60px 20px;
    text-align:center;
}

.destacados h2{
    font-family:'Playfair Display', serif;
    color:#C2185B;
    margin-bottom:30px;
}

.destacados-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    max-width:900px;
    margin:auto;
}

.destacado{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.destacado:hover{
    transform:translateY(-6px);
}

.destacado img{
    width:100%;
    aspect-ratio:4/5;
    object-fit:cover;
}

.destacado h3{
    padding:18px;
}

/* ===== SLIDER ===== */

.slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.slide{
    position: absolute;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
}

.slide.activo{
    display: flex;
}

.slide1{
    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
    url("/L-L-Boutique-/img/banner1.jpg");
    background-size:cover;
    background-position:center;
}

.slide2{
    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
    url("/L-L-Boutique-/img/banner2.jpg");
    background-size:cover;
    background-position:center;
}

.slide3{
    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
    url("/L-L-Boutique-/img/banner3.jpg");
    background-size:cover;
    background-position:center;
}

.favorito{
    position:absolute;
    top:15px;
    right:15px;
    width:38px;
    height:38px;
    background:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    cursor:pointer;
    box-shadow:0 5px 12px rgba(0,0,0,.15);
    transition:.3s;
    z-index:3;
}

.favorito:hover{
    color:#F20A67;
    transform:scale(1.15);
}

.estrellas{
    text-align:center;
    color:#FFC107;
    font-size:18px;
    margin-bottom:10px;
    letter-spacing:2px;
}

.item-carrito{
    display:flex;
    gap:15px;
    align-items:center;
    background:#fff;
    border-radius:15px;
    padding:12px;
    margin-bottom:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.img-carrito{
    width:70px;
    height:90px;
    object-fit:cover;
    border-radius:10px;
}

.info-carrito{
    flex:1;
}

.info-carrito h4{
    margin-bottom:8px;
    color:#F20A67;
}

.info-carrito p{
    margin:3px 0;
    font-size:14px;
}

.eliminar{
    background:#F20A67;
    color:white;
    border:none;
    width:35px;
    height:35px;
    border-radius:50%;
    cursor:pointer;
    font-size:18px;
}

.eliminar:hover{
    background:#d10958;
}

.cerrar-carrito{
    background:none;
    border:none;
    font-size:28px;
    color:#F20A67;
    cursor:pointer;
    padding:5px;
    z-index:1002;
}

.carrito-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#lista-carrito{
    flex:1;
    overflow-y:auto;
    padding:15px;
}

/* ===== DETALLE DEL PRODUCTO ===== */

.producto-detalle{
    max-width: 500px;
    margin: auto;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,.12);
}

.producto-imagen{
    width: 100%;
    display: block;
    object-fit: cover;
}

.producto-info{
    padding: 20px;
}

.producto-info h1{
    font-size: 30px;
    margin-bottom: 10px;
    color:#222;
}

.precio{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 25px;
}

.producto-info h4{
    margin-top:25px;
    margin-bottom:10px;
    letter-spacing:2px;
    font-size:14px;
    color:#666;
}

.lista-colores,
.lista-talles{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.btn-color,
.btn-talle{

    border:1px solid #ccc;
    background:#fff;

    border-radius:50px;

    padding:12px 18px;

    cursor:pointer;

    transition:.3s;
}

.btn-color:hover,
.btn-talle:hover{

    background:#111;
    color:white;

}

.opcion-pago{

    display:block;

    margin:12px 0;

    font-size:17px;

}

.hoy-pagas{

    margin-top:25px;
    background:#fafafa;

    padding:15px;

    border-radius:12px;

}

.hoy-pagas span{

    display:block;

    color:#666;

    margin-bottom:6px;

}

.hoy-pagas strong{

    font-size:30px;

}

.btn-carrito{

    width:100%;

    margin-top:25px;

    padding:18px;

    background:black;

    color:white;

    border:none;

    border

    .btn-color.activo,
.btn-talle.activo{

    background:#111;
    color:#fff;
    border-color:#111;

}
